---
layout: default
permalink: /indexnew/
jquery: true
noindex: true
---

{% include affiliate-disclosure.html %}
<div class="posts">
<article class="post">
<h2 class="post-header"><a href="{{ site.url }}">Blog Posts</a></h2>
<hr />
<div class="sample entry">
<p>The main part of this site is... well, my blog. Here are my blog posts, where I write, as my tagline says, what I want. So far I've written {{ site.posts | size }} posts.</p>
<p>If you want to just jump to my most recent post, it is <a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a>
</div>     
</article>

<article class="post">
<h2 class="post-header"><a href="{{ site.url }}">About</a></h2>
<hr />
<div class="sample entry">
SAMPLE TEXT
</div>     
</article>

<article class="post">
<h2 class="post-header"><a href="{{ site.url }}">Tools</a></h2>
<hr />
<div class="sample entry">
SAMPLE TEXT
</div>     
</article>

<article class="post">
<h2 class="post-header"><a href="{{ site.url }}">Web Portfolio</a></h2>
<hr />
<div class="sample entry">
SAMPLE TEXT
</div>     
</article>

<article class="post">
<h2 class="post-header"><a href="{{ site.url }}">Referral Links</a></h2>
<hr />
<div class="sample entry">
SAMPLE TEXT
</div>     
</article>
</div>
{% include navbar.html %}
