<aside class="navbar">
<div class="short-bio">I am Joe. I'm one of many Joes, but I am uniquely me. I'm the messiest organized guy you'll ever meet. My glasses are always bent and my hair always a mess. I've never had a role model and as such am my own person. Scientist, programmer, Christian, libertarian, and life long learner.</div>
<div class="follow-links">
<a href="https://github.com/hendrixjoseph"><img alt="GitHub followers" src="https://img.shields.io/github/followers/hendrixjoseph?label=GitHub&style=for-the-badge"></a>
<a href="https://www.reddit.com/user/joehx/"><img alt="Reddit User Karma" src="https://img.shields.io/reddit/user-karma/combined/joehx?style=for-the-badge"></a>
<a href="https://twitter.com/intent/user?screen_name=JoeHxBlog"><img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/JoeHxBlog?style=for-the-badge"></a>
<a href="/feed.xml"><div style="max-width: 200px;margin: 0 auto;"><i class="fas fa-rss" aria-hidden="true"></i>RSS feed</div></a>
<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><div style="max-width: 200px;margin: 0 auto;background-color: #3B5998;color: #FFFFFF;"><i class="fab fa-facebook-f" aria-hidden="true" />Like</div></a>

{% include timeline/twitter.html %}
<div><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&storeId=hendrixjoseph-20&adInstanceId=02706bad-25b8-4382-ae5a-be5b26aa98a7"></script></div>
<a href="https://affiliates.abebooks.com/c/2462910/76887/2029"><img src="/images/abebooks/thousands-of-booksellers-millions-of-books.png" alt="AbeBooks.com. Thousands of booksellers - millions of books.
" /></a>
</aside>
