<form id="post-new-comment{{ include.reply }}" class="new-comment" method="post" action="https://hendrixjoseph-staticman.herokuapp.com/v3/entry/github/hendrixjoseph/blog-comments/master/comments"{% if include.reply %} hidden{% endif %}>
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="fields[codeword]" value="super-secret">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}" />
  <input name="options[slug]" type="hidden" value="{{ include.slug }}" />
  {% if include.reply %}<input name="fields[replyto]" type="hidden" value="entry{{ include.reply }}" />{% endif %}
  <label class="comment-body" for="comment{{ include.reply }}">Comment (required)</label><textarea name="fields[message]" id="comment{{ include.reply }}" required="required" cols="45" rows="8" maxlength="65525" aria-required="true"></textarea>
  <label class="comment-author" for="name{{ include.reply }}">Name (required)</label><input name="fields[name]" id="name{{ include.reply }}" required="required" aria-required="true" type="text" />
  <label class="comment-email" for="email{{ include.reply }}">Email (required, always hashed, never used nor published)</label><input name="fields[email]" id="email{{ include.reply }}" required="required" aria-required="true" type="email" />
  <label class="comment-url" for="url{{ include.reply }}">Website (optional)</label><input name="fields[url]" id="url{{ include.reply }}" type="url" pattern="https://.*" />
  <button type="submit">Post comment</button>
  <em>Note that comments won't appear until approved.</em>
</form>
<div id="post-new-comment{{ include.reply }}-submitting" hidden><img src="/images/ajax-loader.gif" style="display: inline;" alt="" /></div>
<div id="post-new-comment{{ include.reply }}-thank-you" hidden>Thank you. Your comment will be visible after approval.</div>
<div id="post-new-comment{{ include.reply }}-error" hidden>Your comment has been submitted, but their seems to be an error. Check your browser console for more details.
<div class="error-message"></div></div>
<script>
document.getElementById('post-new-comment{{ include.reply }}').onsubmit = e => {
    e.preventDefault();

    let form = document.getElementById('post-new-comment{{ include.reply }}');

    form.hidden = true;
    document.getElementById('post-new-comment{{ include.reply }}-submitting').hidden = false;

    fetch(form.action, {
        method: form.method,
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(Object.fromEntries(new FormData(form)))
    }).then(() => {
        if (!response.ok) {
            throw new Error('Network response was not ok:' + JSON.stringfy(response);
        }
        document.getElementById('post-new-comment{{ include.reply }}-submitting').hidden = true;
        document.getElementById('post-new-comment{{ include.reply }}-thank-you').hidden = false;
    }).catch(err => {
        document.getElementById('post-new-comment{{ include.reply }}-submitting').hidden = true;
        document.querySelector('#post-new-comment{{ include.reply }}-error .error-message').textContent = JSON.stringify(err)
        document.getElementById('post-new-comment{{ include.reply }}-error').hidden = false;
    });
}
</script>
