{% capture cache %}

{% if page.jquery or layout.jquery %}{% assign jquery = true %}{% endif %}
{% if page.permalink contains '/tags/' %}
	{% assign posts=site.tags[page.title] %}
{% else %}
	{% assign posts=paginator.posts %}
{% endif %}
{% endcapture %}{% assign jbcache = nil %}<!DOCTYPE html>
<html lang="en-us">
	<head itemscope itemtype="http://schema.org/WebSite">
		<title itemprop='name'>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}{% unless page.title %} – {{ site.description }}{% if paginator.page
 %} - Page {{ paginator.page }}{% endif %}{% endunless %}</title>
		{% if page.noindex or layout.noindex %}<meta name="robots" content="noindex" />{% endif %}

		{% include metadata/meta.html %}
		{% include metadata/opengraph.html %}
		{% include metadata/twittercard.html %}
		{% unless page.noad %}{% include google/adsense.html %}{% endunless %}

		{% if page.mathjax %}
        <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
	  	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>{% endif %}

		{% if page.jquery %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>{% endif %}
		{% for javascript in page.javascripts %}<script src="{{ javascript }}"></script>{% endfor %}
		{% for javascript in page.deferedjavascripts %}<script defer src="{{ javascript }}"></script>{% endfor %}

		{% for css in page.csses %}<link rel="stylesheet" type="text/css" href="{{ css }}" />{% endfor %}
		<link rel="stylesheet" href="/css/font-awesome/fontawesome.css">
		<link rel="stylesheet" href="/css/font-awesome/brands.css">
		<link rel="stylesheet" href="/css/font-awesome/solid.css">
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} Comments" href="{{ site.baseurl }}/comments.xml" />
		<link href="/favicon.ico?" rel="shortcut icon" type="image/x-icon" />
		{% include google/analytics.html %}
	</head>
	{% if layout.isPost %}<body itemscope itemtype="http://schema.org/BlogPosting">{% elsif page.url == "/index.html" or page.url contains "/tags/" or page.url contains "/page" %}<body itemscope itemtype="http://schema.org/Blog">{% else %}<body>{% endif %}
{% include metadata/schema.html %}
{% include social/facebook.html %}

<div class="container">
{% include header.html %}
<div id="main" role="main">
{{ content }}
</div>
{% include footer.html %}
</div>

</body>
</html>
