<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="black" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="img/icon-192.png" sizes="192x192" />
    <link rel="icon" href="img/icon-256.png" sizes="256x256" />
    <link rel="icon" href="img/icon-512.png" sizes="512x512" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="{{ page.script }}.css" />

    <title>{{ page.title }}</title>

    <script src="lib/phaser.min.js"></script>
    
    {% include google/analytics.html %}
  </head>
  <body>
  <div class="container">
    {% include header.html %}
    <div id="main" role="main">
      <main>
      <article class="post" style="display: flex; align-items: baseline; gap: 2rem; flex-wrap: wrap;">
        <section style="width: min(800px, 100%);">
          <h1>{{ page.title }}</h1>
          {{ content }}
          <script src="{{ page.script }}.js"></script>
        </section>
        <aside>
            Support me!
            <ul>
            {% for referral in site.referrals %}
            <a href="{{ referral.url }}">
                <img src="/images/referrals/{{ referral.slug }}.png" width="200" height="50" title="{{ referral.title }}" alt="{{ referral.title }}" />
            </a>
            {% endfor %}
            </ul>
        </aside>
      </article>
      </main>
    </div>
    {% include footer.html %}
    </div>
  </body>
</html>
